absl-py
appdirs
scikit-learn
astunparse
atomicwrites
blis
catalogue
cloudpathlib
confection
cymem
flatbuffers
fonttools
gast
google-pasta
grpcio
h5py
inflection
jsonpointer
keras
keras-models
langcodes
language_data
libclang
marisa-trie
missingno
mkl-service
ml_dtypes
munkres
murmurhash
mysql-connector-python
namex
numpy==1.26.4
opencv-python
openpyxl
opt_einsum
optree
patsy
ply
preshed
protobuf==3.20.3
pyasn1-modules
PyDispatcher
scipy==1.11.4
spacy
spacy-legacy
spacy-loggers
srsly
streamlit==1.45.0
tensorboard
tensorboard-data-server
tensorflow==2.19.0
termcolor
thinc
threadpoolctl
wasabi
weasel
webencodings
xgboost
zstandard
